@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="box box-primary" style="width:360px; margin:100px auto;">
    <div class="box-header with-border">
        <h4 class="box-title">
            <i class="fa fa-sign-in"></i>
            Login
        </h4>
    </div>
    <div class="box-body">
        <form>
            <div class="form-group">
                <label class="control-label">Username</label>
                <input type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <input type="password" class="form-control" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block">
                    Login
                </button>
            </div>
        </form>
    </div>
</div>

